# META ADS
META_APP_ID=
META_APP_SECRET=
META_ACCESS_TOKEN=
META_BUSINESS_ID=

# GOOGLE ADS
GOOGLE_DEVELOPER_TOKEN=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_LOGIN_CUSTOMER_ID=

# SUPABASE
SUPABASE_DB_URL=