# META ADS
META_APP_ID=
META_APP_SECRET=
META_ACCESS_TOKEN=
META_BUSINESS_ID=

# GOOGLE ADS
GOOGLE_DEVELOPER_TOKEN=seu_developer_token
GOOGLE_CLIENT_ID=seu_client_id_do_gcp
GOOGLE_CLIENT_SECRET=seu_client_secret_do_gcp
GOOGLE_REFRESH_TOKEN=seu_refresh_token
GOOGLE_LOGIN_CUSTOMER_ID=id_da_sua_conta_mcc_sem_hifens